#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

.container {
	max-width: 1280px;
	/* min-height: 100vh; */
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 2rem;
	justify-content: center;
	color: black;
}

.content {
	display: none;
}

input[type='checkbox']:checked + .content {
	display: block;
}

.errorLabel {
	color: red;
}
